In [2]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /Users/valeriya/anaconda3/lib/python3.6/site-packages (2.8.4)

In [19]:
from sqlalchemy import create_engine

In [5]:
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'dvdrentals'

# use the credentials to start a connection
engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(

    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

In [7]:
sql = '''
  SELECT *
  FROM film
  LIMIT 1
'''

results = engine.execute(sql)
engine.dispose()
rows = results.fetchall()

# print some results just to see what we got
for row in rows:
  print(row)

(1, 'ACADEMY DINOSAUR', 'A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies', 2006, 1, None, 6, Decimal('0.99'), 86, Decimal('20.99'), 'PG', datetime.datetime(2007, 9, 10, 17, 46, 3, 905795), ['Deleted Scenes', 'Behind the Scenes'], "'academi':1 'battl':15 'canadian':20 'dinosaur':2 'drama':5 'epic':4 'feminist':8 'mad':11 'must':14 'rocki':21 'scientist':12 'teacher':17")

In [8]:
firstrow = rows[0]
firstrow.keys()

['film_id',
 'title',
 'description',
 'release_year',
 'language_id',
 'original_language_id',
 'rental_duration',
 'rental_rate',
 'length',
 'replacement_cost',
 'rating',
 'last_update',
 'special_features',
 'fulltext']

In [9]:
#How many movies are released for each rating?
sql = '''
SELECT count (*), rating
FROM film
GROUP BY rating
'''
results = engine.execute(sql)
engine.dispose()
rows = results.fetchall()

# print some results just to see what we got
for row in rows:
  print(row)

(195, 'R')
(210, 'NC-17')
(194, 'PG')
(223, 'PG-13')
(178, 'G')

In [41]:
# What is the average rental duration for each rating?
sql = '''
SELECT AVG (rental_duration), rating
FROM film
GROUP BY rating
'''
results = engine.execute(sql)
engine.dispose()
rows = results.fetchall()

# print some results just to see what we got
for row in rows:
  print(row)

(Decimal('4.7743589743589744'), 'R')
(Decimal('5.1428571428571429'), 'NC-17')
(Decimal('5.0824742268041237'), 'PG')
(Decimal('5.0538116591928251'), 'PG-13')
(Decimal('4.8370786516853933'), 'G')

In [56]:
#What is the mean movie length? Calculate this by defining a function.
sql = '''
SELECT SUM(length)/COUNT(length) as avg
FROM film
'''
results = engine.execute(sql)
engine.dispose()
rows = results.fetchall()

# print some results just to see what we got
for row in rows:
  print(row)

(115,)

In [20]:
sql = '''
SELECT length 
FROM film
'''
results = engine.execute(sql)
engine.dispose()
rows = results.fetchall()
length = [x['length'] for x in rows]

def mean(numbers):
  total_sum = 0;  # initialize the sum to zero
  for n in numbers:
    total_sum += n # add up the numbers in the array
  count = len(numbers)   # find the length of the array
  avg = total_sum / count  # calculate the mean
  return avg  # return the result

print('The mean of the length is {}'.format(mean(length)))

The mean of the length is 115.272

In [17]:
print(type(rows[0]))

<class 'sqlalchemy.engine.result.RowProxy'>

In [23]:
#What is the median movie length? Calculate this by defining a function.
import math

sql = '''
SELECT length 
FROM film
'''
results = engine.execute(sql)
engine.dispose()
rows = results.fetchall()
length = [x['length'] for x in rows]

def median(numbers):
  numbers.sort()  # sort the list of numbers
  count = len(numbers) # get the length of the array
  isEven = count % 2 == 0 # check if this list is of even length
  
  if (isEven):
    # find the two numbers in the middle of the array
    mid = math.floor( count / 2 )
    a = numbers[mid]
    b = numbers[mid + 1]
    # find the average of these two numbers
    ans = (a + b) / 2
  else:
    ans = numbers[math.floor( count / 2 )]
 
  return ans

print('The median of the length is {}'.format(median(length)))

The median of the length is 114.0

In [25]:
#Calculate the standard deviation of the movie lengths. Calculate this by defining a function.
import math

sql = '''
SELECT length 
FROM film
'''
results = engine.execute(sql)
engine.dispose()
rows = results.fetchall()
length = [x['length'] for x in rows]

def standard_deviation(numbers):
  X_bar = mean(numbers)
  N = len(numbers)
  total_sum = 0
  for X in numbers:
    diff = X - X_bar
    squared = math.pow(diff, 2)
    total_sum += squared
  sigma = math.sqrt(total_sum / (N - 1))  
  return sigma

print('The standard deviation of the length is {}'.format(standard_deviation(length)))

The standard deviation of the length is 40.42633181855987